<div id="sidebar" class="hidden-xs">
    <a href="chai"><button>
        <img src="/assets/images/chaioftheday-icon.jpg" />
        Chai of the Day
    </button></a>
    <a href="/preferences"><button>
        <img src="/assets/images/my-preferences-icon.jpg" />
        My Preferences
    </button></a>
    <button title="Coming Soon!">
        <img src="/assets/images/chai-history-icon.jpg" />
        Chai History
    </button>
    <a href="chat"><button>
        <img src="/assets/images/my-matches-icon.jpg" />
        My Matches
    </button></a>
</div>