<div id="sidebar-mobile" class="hidden-md hidden-lg">
    <a href="/chai"><button>
        <img src='@clients.LetsChaiAWS.s3Link("images/chaioftheday-icon.jpg")' />
        Chai of the Day
    </button></a>
    <a href="/preferences"><button>
        <img src='@clients.LetsChaiAWS.s3Link("images/my-preferences-icon.jpg")' />
        My Preferences
    </button></a>
    <a href="/chat"><button>
        <img src='@clients.LetsChaiAWS.s3Link("images/my-matches-icon.jpg")' />
        My Matches
    </button></a>
</div>

<div id="sidebar" class="hidden-sm hidden-xs">
    <a href="/chai"><button>
        <img src='@clients.LetsChaiAWS.s3Link("images/chaioftheday-icon.jpg")' />
        Chai of the Day
    </button></a>
    <a href="/preferences"><button>
        <img src='@clients.LetsChaiAWS.s3Link("images/my-preferences-icon.jpg")' />
        My Preferences
    </button></a>
    <!--<button title="Coming Soon!">-->
        <!--<img src='@clients.LetsChaiAWS.s3Link("images/chai-history-icon.jpg")' />-->
        <!--Chai History-->
    <!--</button>-->
    <a href="/chat"><button>
        <img src='@clients.LetsChaiAWS.s3Link("images/my-matches-icon.jpg")' />
        My Matches
        <span class="notification">2</span>
    </button></a>
</div>