#sidebar {
    height:100%;
    padding-top: 10%;
    width: 15%;
    display: inline-block;
    vertical-align:top;
    position: absolute;
    background: #C84A49;
    padding-bottom: 50%;
}
#sidebar button {
    display:block;
    margin: 3% auto;
    width: 85%;
    background-color: white;
    border: 2px solid #70041D;
    border-radius: 7px;
    height: 40px;
    text-align: left;
    padding-left: 5%;
}
#sidebar button:hover {
    border: 2px solid #F8CB8C;
}
#sidebar button img,  #sidebar-mobile button img {
    width: 25px;
    margin-right: 2%;
}
#sidebar-mobile {
    background: #C84A49;
    text-align: center;
}
#sidebar-mobile button {
    background-color: white;
    border: 2px solid #70014d;
    border-radius: 7px;
    padding: 3px 12px;
    margin: 1%;
    width: 25%;
}
#sidebar .notification, #sidebar-mobile .notification {
    border: 1px solid darkgreen;
    padding: 3% 6%;
    border-radius: 50%;
    background-color: #35aa47;
    color: white;
    float: right;
    font-weight: bold;
}