#sidebar {
    height:100%;
    padding-top: 10%;
    width: 15%;
    display: inline-block;
    vertical-align:top;
    position: absolute;
    background: #C84A49;
    padding-bottom: 50%;
}
#sidebar button {
    display:block;
    margin: 3% auto;
    width: 85%;
    background-color: white;
    border: 3px solid #70041D;
    border-radius: 7px;
    height: 40px;
    text-align: left;
    padding-left: 5%;
}
#sidebar button:hover {
    border: 3px solid #F8CB8C;
}
#sidebar button img {
    width: 25px;
    margin-right: 2%;
}