@(editable: Boolean)
@if(editable) {
    <div id="question-answer">
        <div class="entry">
            <div class="row question">
                What am I doing with my life?
            </div>
            <div class="row answer">
                <textarea></textarea>
            </div>
        </div>
        <div class="entry">
            <div class="row question">
                What do I like to do in my free time?
            </div>
            <div class="row answer">
                <textarea></textarea>
            </div>
        </div>
        <div class="entry">
            <div class="row question">
                Describe yourself in 3 words.
            </div>
            <div class="row answer">
                <textarea></textarea>
            </div>
        </div>
        <div class="entry">
            <div class="row question">
                What is my idea of a perfect date?
            </div>
            <div class="row answer">
                <textarea></textarea>
            </div>
        </div>
    </div>
} else {
    <div id="question-answer">
        <div class="entry">
            <div class="row question">
                What am I doing with my life?
            </div>
            <div class="row answer">
                Working as a market researcher at Zynga
            </div>
        </div>
        <div class="entry">
            <div class="row question">
                What do I like to do in my free time?
            </div>
            <div class="row answer">
                Sing, dance, laugh
            </div>
        </div>
        <div class="entry">
            <div class="row question">
                Describe yourself in 3 words.
            </div>
            <div class="row answer">
                Loving, caring, happy
            </div>
        </div>
        <div class="entry">
            <div class="row question">
                What is my idea of a perfect date?
            </div>
            <div class="row answer">
                Working as a market researcher at Zynga
            </div>
        </div>
    </div>
}