@(profile: User, editable: Boolean)
<div id="question-answer">

        @for(q <- profile.getQuestions()) {
            <div class="entry">
                <div class="row question">
                    @q.getQuestion()
                </div>
                <div class="row answer">
                    @if(editable) {
                        <textarea name="answer">@q.getAnswer()</textarea>
                    } else {
                        @q.getAnswer()
                    }
                </div>
            </div>
        }
</div>