@(editable: Boolean, me: Boolean)

@if(!editable && !me) {
    <div id="pass-like">
        <button id="pass" class="m-btn pass-like-btn">Pass</button>
        <button id="like" class="m-btn pass-like-btn">Like</button>
    </div>
}
@if(editable) {
    <button class="m-btn green" id="save-profile">Save Profile</button>
}

<script>
function decisionAJAX (decision) {
    var url = "/chai/decision/" + decision;
    return $.get(url);
}

$("#pass").click(function() {
    $(".pass-like-btn").attr("disabled", "disabled");
    decisionAJAX(false).fail(function() {
        $(".pass-like-btn").removeAttr("disabled");
    });
});

$("#like").click(function() {
    $(".pass-like-btn").attr("disabled", "disabled");
    decisionAJAX(true).fail(function() {
        $(".pass-like-btn").removeAttr("disabled");
    });
});
</script>