@(editable: Boolean, me: Boolean, chai: Chai)

@if(!editable) {
    <div id="mutualfriends">
    @if(!me) {
        <div class="row">
            <span class="text">@chai.getMutualFriends().getCount().toString() Mutual Friends: </span>
            <span>
                @for((id,name) <- chai.getMutualFriends().getFriends) {
                    <img src="@clients.LetsChaiFacebookClient.profilePictureURL(id)" title="@name" />
                }
            </span>
        </div>
    } else {
        <a href="editprofile"><button class="m-btn" id="edit-profile-btn">Edit Profile</button></a>
    }
    </div>
}