@(profile: User, editable: Boolean)

<div id="about-me">
    <div class="row">
        <h3 class="col-md-12 small-caps lc-red">About Me</h3>
    </div>

@if(editable) {
    <div class="information">
        <div class="row entry">
            <div class="col-md-4 field">Birthday</div>
            <div class="col-md-8 content">
                <select name="month">
                    @for(month <- java.time.Month.values()) {
                        <option value="@month.getValue()"
                            @if(profile.getBirthday().getMonth() == month.getValue()) {
                                selected="selected"
                            }
                        >@month</option>
                    }
                </select>
                <select name="day">
                    @for(day <- 1 to 31) {
                        <option value="@day"
                            @if(profile.getBirthday().getDate() == day) {
                                selected="selected"
                            }
                        >@day</option>
                    }
                </select>
                <select name="year">
                    @for(year <- 1978 to 1996) {
                        <option value="@year"
                            @if(profile.getBirthday().getYear() + 1900 == year) {
                                selected="selected"
                            }
                        >@year</option>
                    }
                </select>
            </div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Height</div>
            <div class="col-md-8 content"><input name="height" value="@if(profile.getHeight>0){@profile.getHeight}" /> cm</div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Current City</div>
            <div class="col-md-8 content"><input name="city" value="@profile.getCity" /></div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Religion</div>
            <div class="col-md-8 content">
                <select name="religion" />
                    @for(religion <- types.Religion.values()) {
                        <option value="@religion.toString"
                        @if(religion.toString == profile.getReligion().toString()) {
                            selected="selected"
                        }
                        >@religion.toString.replace('_', ' ').toLowerCase.capitalize</option>
                    }
                </select>
            </div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Education</div>
            <div class="col-md-8 content">
                @for(e <- profile.getEducationForView()) {
                    <input name="education" class="education-input" value="@e.getSchool()"/>
                    <select name="education" class="education-select">
                        @for(t <- types.Education.EducationType.values()) {
                            <option value="@t.toString()"
                                @if(e.getType() == t) {
                                    selected
                                }
                            >@t.capitalized()</option>
                        }
                    </select>
                }
            </div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Occupation</div>
            <div class="col-md-8 content"><input name="occupation" value="@profile.getOccupation()"/></div>
        </div>
    </div>

} else {

    <div class="information">
        <div class="row entry name">
            <div class="col-md-4 field">Name</div>
            <div class="col-md-8 content">Name is hidden until mutual acceptance</div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Age</div>
            <div class="col-md-8 content">@profile.getAge() (@profile.getZodiacSign().capitalize())</div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Height</div>
            <div class="col-md-8 content">@profile.getHeight() cm</div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Current City</div>
            <div class="col-md-8 content">@profile.getCity()</div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Religion</div>
            <div class="col-md-8 content">@profile.getReligion().capitalize()</div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Education</div>
            <div class="col-md-8 content">
                @for(edu <- profile.getEducation()) {
                    <div class="row">@edu.getSchool(), @edu.getType().capitalized()</div>
                }
            </div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Occupation</div>
            <div class="col-md-8 content">@profile.getOccupation()</div>
        </div>
    </div>
}
</div>