@(profile: mongo.UserProfile, profileForm: Form[mongo.UserProfile], editable: Boolean)

<div id="about-me">
    <div class="row">
        <h3 class="col-md-12 small-caps lc-red">About Me</h3>
    </div>

@if(editable) {
    <div class="information">
        <div class="row entry name">
            <div class="col-md-4 field">Name</div>
            <div class="col-md-8 content"><input name="name" value="@profile.getName"/></div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Age</div>
            <div class="col-md-8 content"><input name="birthday" value="@profile.getBirthday" /></div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Height</div>
            <div class="col-md-8 content"><input name="height" value="@if(profile.getHeight>0){profile.getHeight}" /></div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Current City</div>
            <div class="col-md-8 content"><input name="location" value="@profile.getCity" /></div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Religion</div>
            <div class="col-md-8 content">
                <select name="religion" />
                    @for(religion <- profile.religionValues()) {
                        <option value="@religion.toString"
                        @if(religion.toString == profile.getReligionAsEnum().toString()) {
                            selected="selected"
                        }
                        >@religion.toString.replace('_', ' ').toLowerCase.capitalize</option>
                    }
                </select>
            </div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Education</div>
            <div class="col-md-8 content"><input /></div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Occupation</div>
            <div class="col-md-8 content"><input /></div>
        </div>
    </div>
} else {
    <div class="information">
        <div class="row entry name">
            <div class="col-md-4 field">Name</div>
            <div class="col-md-8 content">Name is hidden until mutual acceptance</div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Age</div>
            <div class="col-md-8 content">@profile.getAge()</div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Height</div>
            <div class="col-md-8 content">@profile.getHeight()</div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Current City</div>
            <div class="col-md-8 content">@profile.getCity()</div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Religion</div>
            <div class="col-md-8 content">@profile.getReligion()</div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Education</div>
            <div class="col-md-8 content">@profile.getCollege()</div>
        </div>
        <div class="row entry">
            <div class="col-md-4 field">Occupation</div>
            <div class="col-md-8 content">Occupation</div>
        </div>
    </div>
}
</div>