@(users: Map[String,User], stats: classes.UserStatistics, chais: Map[String,Chai], matches: List[types.Match], query: classes.Query, rates: Map[String,types.ChaiResults])

<!DOCTYPE html>
<html>
<head>
    <title>Admin - Users</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/assets/javascripts/jquery.tablesorter.min.js"></script>

    <style>
        th {
            font-weight: bold;
            cursor: pointer;
        }
        td, th {
            white-space: nowrap;
        }
        #stats {
            border-collapse: collapse;
        }
        #stats th, #stats td {
            border: 1px solid black;
        }
    </style>

</head>
<body>

<div>
    <a href="#users">Users</a>
    <a href="#chais">Today's Chais</a>
    <a href="#matches">Matches</a>
</div>

<h1>User Statistics</h1>
<table id="stats">
    <thead>
        <tr>
            <th>Total Users</th>
            <th>Ready to Chai</th>
            <th>In Bangalore</th>
            <th>Total Female</th>
            <th>Ready in Bangalore</th>
            <th>Female, Ready, In Bangalore</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@stats.count</td>
            <td>@stats.readyCount</td>
            <td>@stats.bangaloreCount</td>
            <td>@stats.femaleCount</td>
            <td>@stats.readyBangaloreCount</td>
            <td>@stats.readyBangaloreFemaleCount</td>
        </tr>
    </tbody>
</table>

<h1>Users</h1>
<i>* Click on a column heading to sort by it</i>
<table id="users">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Id</th>
            <th>Age</th>
            <th>Email</th>
            <th>Let's Chai Profile</th>
            <th>Facebook Profile</th>
            <th>Gender</th>
            <th>Gender Given</th>
            <th>Pictures</th>
            <th>Pincode</th>
            <th>Current City</th>
            <th>Flags</th>
            <th>Last Login</th>
            <th>Created On</th>
            <th>Gender Preference</th>
            <th>Age Preference</th>
            <th>Religion Preference</th>
            <th>Acceptance Rate</th>
        </tr>
    </thead>
    <tbody>
        @for(user <- users.values) {
            <tr>
                <td>@user.getFirstName</td>
                <td>@user.getLastName</td>
                <td>@user.getUserId</td>
                <td>@user.getAge</td>
                <td>@user.getEmail</td>
                <td><a target="_blank" href="/admin/profile/@user.getUserId">Let's Chai Profile</a></td>
                <td><a target="_blank" href="@user.getLink">Facebook Profile</a></td>
                <td>@user.getGender</td>
                <td>@user.getGenderGiven</td>
                <td>
                    @for(pic <- user.getPictures) {
                        @if(pic != null) {
                            <div><a target="_blank" href="@pic">Picture</a></div>
                        }
                    }
                </td>
                <td>@user.getPincode.toString</td>
                <td>@user.getCity</td>
                <td>
                    @for(flag <- user.getFlags) {
                        <div>@flag.toString</div>
                    }
                </td>
                <td>@user.getLastLogin</td>
                <td>@user.getCreated</td>
                <td>@user.getPreferences.getGender</td>
                <td>@user.getPreferences.getAge.getMinimum.toString to @user.getPreferences.getAge.getMaximum.toString</td>
                <td>@user.getPreferences.getReligion.toString</td>
                <td>@if(rates.get(user.getUserId) != null) {
                        @rates.get(user.getUserId).weighted()
                    } else {
                        -1
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Today's Chais</h1>
<table id="chais">
    <thead>
        <tr>
            <th>Receiver ID</th>
            <th>Receiver Name</th>
            <th>Target ID</th>
            <th>Target Name</th>
            <th>Has Decided</th>
            <th>Decision</th>
            <th>Score</th>
            <th>Chai Page</th>
            <th>Receiver's Profile</th>
        </tr>
    </thead>
    <tbody>
        @for(chai <- chais.values()) {
            <tr>
                <td>@chai.getReceiver</td>
                <td>@users.get(chai.getReceiver).getName</td>
                <td>@chai.getTarget</td>
                <td>@users.get(chai.getTarget).getName</td>
                <td>@chai.hasDecided.toString</td>
                <td>@chai.getDecision.toString</td>
                <th>@chai.getScore</th>
                <th><a target="_blank" href="/admin/chai/@chai.getReceiver">Chai Page</a></th>
                <th><a target="_blank" href="/admin/profile/@chai.getReceiver">Receiver Profile</a></th>
            </tr>
        }
    </tbody>
</table>

<h1>Matches</h1>
<table id="matches">
    <thead>
        <tr>
            <th>User 1 ID</th>
            <th>User 1 Name</th>
            <th>User 1 Profile</th>
            <th>User 2 ID</th>
            <th>User 2 Name</th>
            <th>User 2 Profile</th>
            <th>Match Date</th>
            <th>User 1 Messaged</th>
            <th>User 2 Messaged</th>
        </tr>
    </thead>
    <tbody>
        @for(m <- matches) {
            <tr>
                <td>@m.getReceiver</td>
                <td>@users.get(m.getReceiver).getName</td>
                <td><a target="_blank" href="/admin/profile/@m.getReceiver">User 1 Profile</a></td>
                <td>@m.getTarget</td>
                <td>@users.get(m.getTarget).getName</td>
                <td><a target="_blank" href="/admin/profile/@m.getTarget">User 2 Profile</a></td>
                <td>@m.matchDate</td>
                <td>@query.hasMessaged(m.getReceiver, m.getTarget)</td>
                <td>@query.hasMessaged(m.getTarget, m.getReceiver)</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('table').tablesorter();
    });
</script>

</body>
</html>