@(profile: User, editable: Boolean)

<!DOCTYPE html>
<html>
<head>
    <title>LetsChai - Chai of the Day</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" />

    <!-- Bootstrap CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        @sitewide.style()
        @header.style()
        @sidebar.style()

        .row {
            margin-left:0;
            margin-right:0;
        }

        #content {
            display:inline-block;
            width:100%;
            padding-top: 3%;
        }

        @profilePieces.pictures.style()
        @profilePieces.aboutme.style()
        @profilePieces.passlike.style()
        @profilePieces.questions.style()
        @profilePieces.mutualfriends.style()
    </style>
</head>
<body>
<!--jQuery CDN-->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<!--Page Header-->
@header.content()

<!-- Sidebar -->
@sidebar.content()

<!-- Main -->
@if(editable) {
    <form id="profile-form" method="post" action="editprofile">
}
<div id="content">
    <div class="row">
        <div class="col-md-4 col-sm-offset-2">
            <div class="row">
                @profilePieces.pictures.content(editable)
            </div>

            <div class="row">
                @profilePieces.mutualfriends.content(editable)
            </div>
            <div class="row">
                @profilePieces.passlike.content(editable)
            </div>
        </div>

        <div class="col-md-4">
            <div class="row">
                @if(editable) {
                    <button id="save-profile">Save Profile</button>
                }
                @profilePieces.aboutme.content(profile, editable)
            </div>

            <div class="row">
                @profilePieces.questions.content(profile, editable)
            </div>
        </div>
    </div>
</div>
@if(editable) {
    </form>
}
</body>
</html>