<!DOCTYPE html>
<html>
<head>
    <title>LetsChai - Chai of the Day</title>

    @sitewide.head()

    <!-- Bootstrap CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />

    <!--Buttons-->
    <link href="/assets/modern-buttons/css/m-buttons.css" rel="stylesheet" />

    <style>
        @sitewide.style()
        @header.style()
        @sidebar.style()

        .row {
            margin-left:0;
            margin-right:0;
        }
        h3 {
            margin-bottom: 5%;
        }
        h3, h5 {
            text-align: center;
        }
        #content a {
            font-weight: bold;
        }
        #content img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    </style>
</head>

<body>

<!--Page Header-->
@header.content()

<!-- Sidebar -->
@sidebar.content()

<div id="content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-xs-offset-1 col-xs-10">
            <img src='@clients.LetsChaiAWS.s3Link("images/umbrella-chai.jpg")' />
            <h3>No Chai today :(</h3>
            <h5>We are new to your area and don't want to give you a cold cup of chai. Check back tomorrow, and until then make sure your
                <a class="lc-red" href="editprofile">profile</a> and <a class="lc-red" href="preferences">preferences</a> are up to date!</h5>
        </div>
    </div>
</div>
</body>