@(pref: User.Preferences)

<!DOCTYPE html>
<html>
<head>
    <title>LetsChai - My Preferences</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href='@clients.LetsChaiAWS.s3Link("images/favicon.png")' />

    <!-- Bootstrap CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        @sitewide.style()
        @header.style()
        @sidebar.style()

        h2 {
            margin-left: 2%
        }
        h4 {
            font-weight: bold;
            margin-bottom: 5%;
        }
        #preference-wrapper {
            margin-top: 5%;
            background-color: #F8CB8C;
            padding: 1% 2% 2%;
            border-radius: 5px;
            position: relative;
        }
        #private {
            font-style: italic;
            position: absolute;
            top: 2%;
            right: 2%;
        }
        .entry {
            margin-top: 3%;
        }
        .religion-option {
            margin-bottom: 1.5%;
        }
        #disclaimer {
            font-style: italic;
            margin-top: 1%;
        }
        #button-array {
            float:right;
        }

    </style>
</head>
<body>


<!--jQuery CDN-->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

@header.content()
@sidebar.content()

<form method="post" action="preferences">

<div class="row">
    <div class="col-sm-offset-2">
        <div id="content">
            <h2>My Preferences</h2>
            <div class="row">
                <div id="preference-wrapper" class="col-md-6 col-md-offset-3">
                    <h4>I am looking for:</h4>
                    <div id="private">private*</div>
                    <div class="row entry">
                        <div class="col-md-3 col-md-offset-1">
                            <label for="age_min">Age</label>
                        </div>
                        <div class="col-md-8">
                            <select name="age_min" id="age_min">
                                @for(age <- 18 to 35) {
                                <option value="@age"
                                    @if(pref.getAge().getMinimum() == age) {
                                        selected="selected"
                                    }
                                >@age</option>
                                }
                            </select>

                            &nbsp;&nbsp;to&nbsp;&nbsp;

                            <select name="age_max">
                                @for(age <- 18 to 34){
                                <option value="@age"
                                    @if(pref.getAge().getMaximum() == age) {
                                        selected="selected"
                                    }
                                >@age</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row entry">
                        <div class="col-md-3 col-md-offset-1">
                            <label for="gender">Gender</label>
                        </div>
                        <div class="col-md-8">
                            <select name="gender" id="gender">
                                <option value="FEMALE">Female</option>
                                <option value="MALE"
                                    @if(pref.getGender().toString() == "MALE") {
                                        selected="selected"
                                    }
                                >Male</option>
                            </select>
                        </div>
                    </div>

                    <div class="row entry">
                        <div class="col-md-3 col-md-offset-1">
                            <label for="religion">Religion</label>
                        </div>
                        <div class="col-md-8">
                            @for((r,i) <- types.Religion.values().zipWithIndex) {
                                @if(i%2 == 0) {
                                    <div class="row">
                                }
                                <div class="col-xs-6 religion-option">
                                    <input id="@r.toString" name="religion" class="religion" type="checkbox" value="@r.toString()"
                                        @if(pref.matchesReligion(r)) {
                                            checked="checked"
                                        }
                                    />
                                    <label for="@r.lowerCase()" class="religion-label">@r.capitalize()</label>
                                </div>
                                @if(i%2 == 1 || i+1 == types.Religion.getValues().length) {
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>

                <div class="row"><div class="col-md-6 col-md-offset-3" id="disclaimer">
                    * private information will not be shared with others
                </div></div>

                <div class="row"><div class="col-md-6 col-md-offset-3">
                    <div id="button-array">
                        <a href="chai"><button>Cancel</button></a>
                        <button type="submit">Save</button>
                    </div>
                </div></div>

            </div>
        </div>
    </div>
</div>

</form>

</body>

<script>
// uncheck other religion boxes when No Preference is checked
$("[value=NO_PREFERENCE]").click(function() {
    $(".religion:not(#NO_PREFERENCE").prop("checked", false);
});
// uncheck No Preference when other boxes are checked
$(".religion:not(#NO_PREFERENCE").click(function() {
    $("#NO_PREFERENCE").prop("checked", false);
});
</script>
</html>